.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    place-items: center;
    p {
      font-size: 10px;
      transition: 0.3s;
    }
  }
  .cart:hover {
    cursor: pointer;
    p {
      transform: scale(1.5);
    }
  }
  .input {
    .icon {
      padding: 13px 15px;
      border-radius: 50%;
      border: 1px solid #17af26;
      background-color: #17af26;
      path,
      svg {
        color: white !important;
      }
    }
    form {
      display: flex;
      align-items: center;
      gap: 30px;
    }
    input {
      padding: 15px 20px;
      width: 400px;
      border-radius: 20px;
      border: 1px solid whitesmoke;
    }
  }
  img {
    transform: translateX(-30px);
  }

  .user {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

@media (max-width: 1150px) {
  .input {
    display: none;
  }
}
@media (max-width: 400px) {
  .header {
    .user {
      p {
        display: none;
      }
    }
  }
}
