.navbar {
  padding: 30px 0;
  &_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .navbar {
    &_links {
      gap: 30px;
      flex-wrap: wrap;
    }
  }
}
