.card {
  display: flex;
  flex-direction: column;
  gap: 64px;
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    &_card {
      img {
        mix-blend-mode: color-dodge;
        border-radius: 20px;
        width: 100px;
      }
      background: #648a7c;
      min-height: 420px;
      height: 100%;
      padding: 5% 20px;
      border-radius: 10px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 20px;
      button {
        background: transparent;
        border-bottom: 1px solid #fff !important;
        border: none;
        color: #fff;
        font-size: medium;
        transition: 0.3s;
        padding-bottom: 3px;
      }
      button:hover {
        cursor: pointer;
        padding: 5px;
        border: 1px solid white;
        color: #ffffff;
        border-radius: 5px;
        color: black;
        background: white;
      }
      h3 {
        color: white;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  &_flex {
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &_img {
    padding-top: 30px;
    position: relative;
    span {
      position: absolute;
      width: 152px;
      height: 64px;
      left: calc(50% - 152px / 2 + 0.5px);
      top: calc(50% - 64px / 2);
      background: rgba(5, 66, 44, 0.3);
      backdrop-filter: blur(4px);
      border-radius: 100px;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
    img {
      width: 150px;
      height: 150px;
    }
  }
  &_info {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 24px;
      gap: 8px;
      border: 1px solid #17af26;
      background: #17af26;
      border-radius: 100px;
      cursor: pointer;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
    }
    h4 {
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #1a1e26;
    }
    h2 {
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;

      color: #eb2606;
      span {
        font-family: "Lexend";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        text-decoration-line: line-through;

        color: #9d9ea2;
      }
    }
  }
}

@media (max-width: 1150px) {
  .card {
    .flex {
      display: contents;
      gap: 40px;
      &_card {
        width: 100%;
      }
    }
  }
}
